# ___  ____ ____ ___ _ ___ _ ____ _  _ _ _  _ ____
# |__] |__| |__/  |  |  |  | |  | |\ | | |\ | | __
# |    |  | |  \  |  |  |  | |__| | \| | | \| |__]
# ------------------------------------------------
# ANSSI-compliant partitions on LVM, for Debian 12
# ------------------------------------------------
d-i partman-auto/method string lvm
d-i partman-auto/disk string /dev/sda
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/mount_style select label
d-i partman-auto/expert_recipe string                         \
      volume-group ::                                         \
              17180 17180 -1 ext4                             \
                        label{ DEBIAN }                       \
                        method{ lvm }                         \
                        device{ /dev/sda }                    \
                        vg_name{ vg_root }                    \
              .                                               \
      multi-anssi ::                                          \
              157 158 537 fat32                               \
                        method{ efi }                         \
                        format{ }                             \
                        device{ /dev/sda }                    \
              .                                               \
              268 270 1074 ext4                               \
                        method{ format }                      \
                        format{ }                             \
                        label{ BOOT }                         \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /boot }                   \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        options/noexec{ noexec }              \
                        device{ /dev/sda }                    \
              .                                               \
              2147 2153 8590 linux-swap                       \
                        $lvmok{ }                             \
                        lv_name{ swap }                       \
                        method{ swap }                        \
                        format{ }                             \
                        in_vg{ vg_root }                      \
              .                                               \
              3758 3782 17180 ext4                            \
                        $lvmok{ }                             \
                        lv_name{ usr }                        \
                        label{ USR }                          \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /usr }                    \
                        options/nodev{ nodev }                \
                        in_vg{ vg_root }                      \
              .                                               \
              1074 1080 8590 ext4                             \
                        $lvmok{ }                             \
                        lv_name{ tmp }                        \
                        label{ TMP }                          \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /tmp }                    \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        in_vg{ vg_root }                      \
              .                                               \
              1074 1080 8590 ext4                             \
                        $lvmok{ }                             \
                        lv_name{ var_tmp }                    \
                        label{ VAR_TMP }                      \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /var/tmp }                \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        in_vg{ vg_root }                      \
              .                                               \
              1074 1090 10737 ext4                            \
                        $lvmok{ }                             \
                        lv_name{ var }                        \
                        label{ VAR }                          \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /var }                    \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        in_vg{ vg_root }                      \
              .                                               \
              839 845 4295 ext4                               \
                        $lvmok{ }                             \
                        lv_name{ log }                        \
                        label{ LOG }                          \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /var/log }                \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        options/noexec{ noexec }              \
                        in_vg{ vg_root }                      \
              .                                               \
              839 845 4295 ext4                               \
                        $lvmok{ }                             \
                        lv_name{ audit }                      \
                        label{ AUDIT }                        \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /var/log/audit }          \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        options/noexec{ noexec }              \
                        in_vg{ vg_root }                      \
              .                                               \
              268 271 12885 ext4                              \
                        $lvmok{ }                             \
                        lv_name{ opt }                        \
                        label{ OPT }                          \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /opt }                    \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        in_vg{ vg_root }                      \
              .                                               \
              268 274 8590 ext4                               \
                        $lvmok{ }                             \
                        lv_name{ home }                       \
                        label{ HOME }                         \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ /home }                   \
                        options/nodev{ nodev }                \
                        options/nosuid{ nosuid }              \
                        in_vg{ vg_root }                      \
              .                                               \
              4294 4312 23622 ext4                            \
                        $lvmok{ }                             \
                        lv_name{ root }                       \
                        label{ ROOT }                         \
                        method{ format }                      \
                        format{ }                             \
                        use_filesystem{ }                     \
                        filesystem{ ext4 }                    \
                        mountpoint{ / }                       \
                        in_vg{ vg_root }                      \
              .