proxmox_api_url = "https://[PROXMOX URL]/api2/json"
proxmox_api_token_id = "[PROXMOX PACKER TOKEN]"
proxmox_api_token_secret = "[PROXMOX PACKER TOKEN SECRET]"
ssh_username = "debian"
ssh_password = "changeme"